# Banco de dados
*.db
*.db-journal

.salt
wallet.enc
*.enc

*.enc.json
passwords.enc.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo

main.py